.shop_image
  .slide

    =image_tag 'top.jpg', alt: 't'

   




.explain-box
  
  .explain
    このページはティディーボーイズのオンラインショップページです。
  
    .send
      =link_to 'ホームページはこちら','https://teddyboys.jp/' 


  %br
  %br
  %br
  %br
  .send
    =link_to '早速ショッピングをする！',shopping_index_path 
