.title
  access
.acccessBox
  .access
    
    %iframe{:allowfullscreen => "", "aria-hidden" => "false", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3214.75787428301!2d139.43238431527632!3d36.31817798005069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601f2177c6170b8b%3A0x6ee9d42dd7357b79!2z6Laz5Yip5biC576O5a655a6k44OY44Ki44O844Oh44Kk44KvIOe0l-adpSAo44GV44KJ44GEKQ!5e0!3m2!1sja!2sjp!4v1594269017694!5m2!1sja!2sjp", :style => "border:0;", :tabindex => "0", :width => "500"}
    
  .link
    .adress
      ヘアーメイク紗来
      %br
      %br
      〒326-0831 栃木県足利市堀込町2923-20
      %br
      %br
      TEL 0284-71-2938
      %br
      %br
      定休日　毎週火曜日
      %br
      %br
      営業時間　完全予約制


    %br
    %br
    %br
    %br


%br

