.title
  access
.acccessBox
  .access
    
    %iframe{:allowfullscreen => "", "aria-hidden" => "false", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12851.038528896606!2d139.3887268!3d36.3666007!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x99fa368f059662f3!2z576O5a655a6kIFRFRERZIEJPWSdT!5e0!3m2!1sja!2sjp!4v1595314549781!5m2!1sja!2sjp", :style => "border:0;", :tabindex => "0", :width => "500"}
    
    
    
  .link
    .adress
      TEDDY　BOY'S
      %br
      %br
      栃木県足利市葉鹿町2丁目30-5
      %br
      %br
      TEL 0284-64-1301
      %br
      %br
      定休日：毎週火曜日、他。
      %br
      %br
      営業時間：9:30～19:00
      


    %br
    %br
    %br
    %br


%br

