.product
  = link_to '商品を出品する',new_shopping_path


.guests
  = link_to 'お客様情報確認',guest_index_path


.guests
  - if user_signed_in?
    = link_to 'ログアウト',destroy_user_session_path,method: :delete
  - else
    = link_to 'ログイン',new_user_registration_path