.acccessBox{
  width: 1000px;
  margin: 0 200px;
  display: flex;
  color: gray;
  .access{

    width: 500px;
    height: 500px;
  }

  .link{
    padding-left: 10px;;

    width: 500px;
    height: 500px;
  }

}

.adress{
  font-size: 20px;
}

