.title{
  width: 1440px;
  font-size: 50px;
  font-family: fantasy;
  text-align: center;
  margin-top: 20px;
}

.itemsBox{
 
  margin: 10px 300px;


 
}

.items{

}

.item{

  float: left;
  margin: 10px;

}

.shousai{
  
}



.name{
  width: 400px;
}

.price{
  width: 400px;
}

.explains{
  width: 400px;
}

.shousai{
  width: 400px;
}



.itemsBox_show{
  width: 500px;
  margin: 50px 500px;
  font-size: 30px;
  padding: 10px;
 
}

.image_show{
  width: 200px;
  height: 400px;
}

.name_show{
  
}