@import "front";
@import "Morden";
@import "shopping";
@import "access";
@import "private";
@import "guest";




.header{

  color: grey;
  font-weight: bold;
  font-family: fantasy;
  width: 1440px;

  display: flex;
  font-size: 30px;
  text-decoration: none;


}

.areat{
  font-size: 15px;
  color: red;
}



.home{
  margin: 30px;
}

.shopping{
  margin: 30px;
}

.link{
  margin: 30px;
}
.private{
  margin: 30px;
}

.shop_image{

  width: 1440px;
  height: 600px;
  position: relative;
}

